:root {
  --primary-heading-font: "Audiowide", cursive;
  --secondary-heading-font: "Play", sans-serif;
}

.hero body {
  background-image: url("/images/background-color-block.png");
  background-position: center;
}

.hero-body {
  color: white;
  padding: 290px 0;
  text-align: center;
}

nav {
  font-family: var(--secondary-heading-font);
  font-size: 20px;
}
.bg-darker {
  background-color: rgb(05, 05, 05);
}

.hero h1 {
  font-family: var(--primary-heading-font);
  font-size: 100px;
  line-height: 90px;
  padding-top: 20px;
}

.hero h2 {
  font-family: "Play", sans-serif;
  font-size: 40px;
  line-height: 20px;
  opacity: 30%;
}

footer {
  font-family: var(--secondary-heading-font);
  text-align: end;
}

.footer-links {
  color: white;
  text-decoration: none;
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 75px;
    line-height: 70px;
  }
}

@media (max-width: 374px) {
  .hero h1 {
    font-size: 60px;
    line-height: 55px;
  }
}
